<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class = "container-fluid">
		<div> 
		<nav class="navbar navbar-expand navbar-dark" style="background-color: #FFA500; height: 70px;">
		    <a class="navbar-brand" th:href="@{/}"> <!-- Added anchor for the logo -->
		        <h2>EcomVNAdmin</h2>
		    </a>
		    <div class="ml-auto"> <!-- Added div to align nav options to the right -->
		        <ul class="navbar-nav">
		            <li class="nav-item">
		                <a class="nav-link text-white" th:href="@{/report_generator}">Report Generator</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link text-white" th:href="@{/user}">User Management</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link text-white" th:href="@{/product_discount}">Products and Discount</a>
		            </li>
		        </ul>
		    </div>
		</nav>
	</div>
	
    <div class="container">
        <h2>Create User</h2>
        <form method="post" th:action="@{/user/save}" onsubmit="return checkEmailUnique(this)">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>   
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <select id="role" name="role" class="form-control" required>
					<option value="">None</option>
					<option th:each="role : ${allRoles}" th:text="${role.getName}" th:value="${role.getId}"></option>
				</select>
            </div>
            <div class="form-group">
			    <label for="location">Location:</label>
			    <select id="location" name="location" class="form-control" required>
			        <option value="" disabled selected>Select a location</option>
			        <option th:each="location : ${allLocation}"
			                th:value="${location.getValue}"
			                th:text="${location.getValue}"></option>
			    </select>
			</div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <footer class="fixed-bottom bg-light text-center">
	  <div class="container py-3">
	    <p>Ecommerce Viet Nam - Copyright &copy;</p>
	  </div>
	</footer>
	</div>
	
	<script type="text/javascript">
    function checkEmailUnique(form) {
		
        var url = "[[@{/user/check_email}]]";
        var emailValue = $('input[name="email"][id="email"]').val();
        var securityToken = $("input[name='_csrf']").val();
        var params = { email: emailValue, _csrf: securityToken };

        // Use jQuery.ajax instead of $.post to have more control over the form submission
        $.ajax({
            url: url,
            type: "POST",
            data: params,
            async: false, // Set async to false to wait for the response before submitting the form
            success: function (response) {
                if (response === "valid") {
                    form.submit(); // Submit the form if the email is valid
                } else {
                    alert("Email is duplicated. Please choose a different email.");
                }
            }
        });

        return false; // Prevent the default form submission
    }
</script>
</body>
</html>